<div class="form-container">
  <form>
    <mat-form-field>
      <mat-label>Data de ocorrência</mat-label>
      <input matInput [(ngModel)]="desastre.dataDeOcorrencia" placeholder="Data" (ngModelChange)="onModelChange()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duração em dias</mat-label>
      <input matInput [(ngModel)]="desastre.duracaoDias" placeholder="Duração em dias" (ngModelChange)="onModelChange()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Intensidade</mat-label>
      <input matInput [(ngModel)]="desastre.intensidadeEscala" placeholder="Intensidade 0 - 10" (ngModelChange)="onModelChange()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantidade de Vítimas</mat-label>
      <input matInput [(ngModel)]="desastre.qtdVitimas" placeholder="Quantidade de vítimas" (ngModelChange)="onModelChange()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select [(ngModel)]="desastre.tipo" (ngModelChange)="onModelChange()">
        <mat-option value="enxurrada">Enxurrada</mat-option>
        <mat-option value="deslizamento">Deslizamento</mat-option>
        <mat-option value="incendio">Incêndio</mat-option>
        <mat-option value="seca">Seca</mat-option>
        <mat-option value="inundacao">Inundação</mat-option>
        <mat-option value="vendaval">Vendaval</mat-option>
        <mat-option value="granizo">Granizo</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Região</mat-label>
      <mat-select [(ngModel)]="desastre.regiao" multiple (ngModelChange)="onModelChange()">
        <mat-option value="norte">Norte</mat-option>
        <mat-option value="sul">Sul</mat-option>
        <mat-option value="nordeste">Nordeste</mat-option>
        <mat-option value="sudeste">Sudeste</mat-option>
        <mat-option value="centroOeste">Centro-Oeste</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="cadastrarOuAtualizar()">{{nomeBotaoAcao}}</button>

    <mat-progress-bar mode="determinate" [value]="progresso"></mat-progress-bar>
  </form>
</div>
