/* General body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #333;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form{
  padding: 2rem;
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border-color: #4c8bf5;
  box-shadow: 0 0 5px rgba(76, 139, 245, 0.5);
}


.submit-button {
  width: 62%;
  display: block; 
  margin: 0 auto; 
  padding: 12px;
  background-color: #4c8bf5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #3578e5;
}

.submit-button:disabled {
  background-color: #a0c4f7;
  cursor: not-allowed;
}

.register-link {
  text-align: center;
  font-size: 14px;
}

.register-link a {
  color: #4c8bf5;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
