@for (desastre of DESASTRES; track desastre.dataDeOcorrencia) {
    <mat-card class="card-desastre" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ desastre.dataDeOcorrencia }}</mat-card-title>
            <mat-card-subtitle>{{ desastre.intensidadeEscala | id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                O desastre {{ desastre.regiao | titlecase }} de campinas
            </p>
        </mat-card-content>
    </mat-card>

}
