<div class="container-cards">
    @for (volunteer of VOLUNTEERS; track volunteer.id) {
      <mat-card class="card-volunteer" appearance="outlined">
        
        <!-- Imagem do volunteer -->
        <img mat-card-image src="{{volunteer.imagemUrl}}" alt="Imagem do volunteer de {{volunteer.name}}">
  
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-subtitle>Name: {{ volunteer.name }}</mat-card-subtitle>
          <mat-card-subtitle>Email: {{ volunteer.email}}</mat-card-subtitle>
          <mat-card-subtitle>Phone: {{ volunteer.phone }}</mat-card-subtitle>
        </mat-card-header>
  
        <mat-card-content>
          <p>
            O volunteer de {{volunteer.name}} ocorreu na data {{volunteer.email}}, 
            pela(s) região(ões) {{ volunteer.phone }}.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="edit(volunteer)">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="remove(volunteer)">
              <mat-icon>delete</mat-icon>
          </button>
      </mat-card-actions>
      </mat-card>
    }
  </div>
  