<div>
    <h2>Volunteer</h2>
    <form>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="volunteer.name" name="name" placeholder="Fulano de tal">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="volunteer.email" name="email" placeholder="fulanodetal@mail.com">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput [(ngModel)]="volunteer.phone" name="phone" placeholder="82 98964-8761">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Link de Imagem</mat-label>
            <input matInput [(ngModel)]="volunteer.imagemUrl" name="imagemUrl" placeholder="Link Imagem">
          </mat-form-field>
        
        <button mat-raised-button (click)="registerOrUpdate()">{{ actionButtonName }}</button>
    </form>
</div>
