<header class="modern-header">
    <div class="header-container">
        
        <div class="logo-container">
            <a href="index.html" class="logo-link">
                <img src="assets/img/disaster-logo-bg.png" alt="Disaster Logo" class="logo-img">
                <span class="logo-text">DISASTER</span>
            </a>
        </div>

        <nav class="nav-links">
            <a [routerLink]="['/app-origin']" class="nav-link">
                <i class="fa-solid fa-map-marker-alt"></i> Origin of Disaster
            </a>            
            <a href="#news" class="nav-link">
                <i class="fa-solid fa-newspaper"></i> Disaster News
            </a>
            <a href="#about" class="nav-link">
                <i class="fa-solid fa-info-circle"></i> About Us
            </a>
        </nav>

        <div *ngIf="!isLoggedIn()">
            <button mat-raised-button color="accent" (click)="abrirModalLogin()">
            <mat-icon>login</mat-icon> Entrar
            </button>
        </div>

        <div *ngIf="isLoggedIn()" style="display: flex; align-items: center; gap: 15px;">
            <span style="font-size: 14px;">
            Bem-vindo, <strong>{{ getUserEmail() }}</strong>
            </span>
            
            <button mat-icon-button (click)="logout()" title="Sair do sistema">
            <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</header>